@model GestaoVendasMVC.Models.ClienteModel

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Cliente" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label">Nome</label>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CPF" class="control-label">CPF</label>
                <input asp-for="@Model.CPF" class="form-control" />
                <span asp-validation-for="@Model.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">E-mail</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Senha" class="control-label">Senha</label>
                <input asp-for="@Model.Senha" class="form-control" />
                <span asp-validation-for="@Model.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </div>
        </form>
    </div>
</div>